.SansPro-Semibold {
  font-family: 'SansPro-Semibold', sans-serif;
}
.SansPro-Light {
  font-family: 'SansPro-Light', sans-serif;
}
.main {
  width: 1440px;
  margin: 0 auto;
}
.wrap {
  width: 1170px;
  margin: 0 auto;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.clip {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.block {
  width: 50%;
}
.lucid-button {
  font-family: 'SansPro-Bold', sans-serif;
  display: inline-block;
  max-width: 200px;
  padding: 20px 30px;
  font-size: 14px;
  color: white;
  border: 1px solid #4e4e54;
  border-radius: 3px;
  background: transparent;
  cursor: pointer;
  text-transform: uppercase;
}
.lucid-button:hover {
  background: #008ed6;
}
.left {
  float: left;
}
.right {
  float: right;
}
.product-device {
  width: 100%;
  height: 640px;
  background: #16151b url("../../img/header-device-bg.png") 50% 50% no-repeat;
  position: relative;
  overflow: hidden;
}
.product-device__header {
  height: 95px;
  margin-bottom: 90px;
}
.product-device__header--logo,
.product-device__header nav {
  height: 100%;
}
.product-device__header--logo:before,
.product-device__header nav:before {
  content: "";
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
.product-device__header--logo *,
.product-device__header nav * {
  display: inline-block;
  vertical-align: middle;
}
.product-device__header--logo h1 {
  max-width: 250px;
}
.product-device__header--logo h1 a {
  font-family: 'Quicksand-Bold', sans-serif;
  color: white;
  font-size: 24px;
  text-transform: uppercase;
}
.product-device__header--logo .logo-caption small {
  font-family: 'SansPro-regular', sans-serif;
  max-height: 24px;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  max-width: 45px;
  font-size: 9px;
  text-transform: uppercase;
  color: #4d4e52;
}
.product-device__header nav ul {
  max-width: 700px;
  height: 26px;
  max-height: 26px;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  margin-top: 10px;
}
.product-device__header nav ul li {
  position: relative;
  display: inline-block;
  margin-right: 20px;
  padding-bottom: 10px;
}
.product-device__header nav ul li:before,
.product-device__header nav ul li:after {
  content: "";
  display: none;
  width: calc(48%);
  height: 2px;
  background: #008ed6;
  position: absolute;
  bottom: 0;
}
.product-device__header nav ul li:before {
  left: 0;
}
.product-device__header nav ul li:after {
  right: 0;
}
.product-device__header nav ul li:hover:before,
.product-device__header nav ul li:hover:after {
  display: block;
}
.product-device__header nav ul li a {
  font-family: 'SansPro-Semibold', sans-serif;
  font-size: 16px;
  color: white;
  max-width: 150px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.product-device__landing-page span,
.product-device__landing-page h1,
.product-device__landing-page p {
  max-width: 490px;
  margin-bottom: 20px;
}
.product-device__landing-page span {
  font-family: 'SansPro-Bold', sans-serif;
  color: #008ed6;
  font-size: 14px;
  text-transform: uppercase;
}
.product-device__landing-page h1 {
  font-family: 'SansPro-Semibold', sans-serif;
  max-height: auto;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  font-size: 48px;
  color: white;
  height: 100px;
}
.product-device__landing-page p {
  font-family: 'SansPro-regular', sans-serif;
  max-height: 125px;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  font-size: 18px;
  color: #999;
  line-height: 26px;
}
.product-device__landing-page__control {
  max-width: 490px;
  max-height: 180px;
  overflow: hidden;
}
.product-device__landing-page__control button {
  margin: 30px 20px 0 0;
}
.product-device .devices {
  position: absolute;
  right: 175px;
  bottom: -85px;
}
.product-overview .content-name {
  margin: 60px 0 45px;
}
.product-overview .content-name h2 {
  font-family: 'SansPro-Bold', sans-serif;
  color: #008ed6;
  font-size: 14px;
  text-transform: uppercase;
}
.product-overview .content-name h1 {
  font-family: 'SansPro-Semibold', sans-serif;
  font-size: 36px;
  color: #1a1a1a;
}
.product-overview .content-name h1,
.product-overview .content-name h2 {
  max-height: auto;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-align: center;
  margin: 0 auto 20px;
}
.product-overview .content-name .line {
  position: relative;
  width: 42px;
  margin: 0 auto 20px;
}
.product-overview .content-name .line:before,
.product-overview .content-name .line:after {
  content: "";
  display: block;
  width: 20px;
  height: 2px;
  background: #008ed6;
  position: absolute;
  bottom: 0;
}
.product-overview .content-name .line:before {
  left: 0;
}
.product-overview .content-name .line:after {
  right: 0;
}
.product-overview .content-name .line:hover:before,
.product-overview .content-name .line:hover:after {
  display: block;
}
.product-overview__info {
  font-family: 'SansPro-regular', sans-serif;
  max-height: 580px;
  overflow: auto;
  text-align: center;
  margin-bottom: 70px;
}
.product-overview__info ul {
  margin: 0 auto;
}
.product-overview__info ul:after {
  content: "";
  display: table;
  clear: both;
}
.product-overview__info ul li {
  width: 235px;
  float: left;
}
.product-overview__info::-webkit-scrollbar {
  width: 8px;
}
.product-overview__info::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px #008ed6;
  border-radius: 8px;
}
.product-overview__info::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #008ed6;
}
.product-overview__info ul {
  max-width: 1170px;
  overflow: hidden;
}
.product-overview__info ul li {
  padding-top: 5px;
  margin-top: 45px;
}
.product-overview__info ul li:not(:nth-child(4)) {
  margin-right: 70px;
}
.product-overview__info ul li:hover a {
  transform: scale(1.1);
}
.product-overview__info ul li p {
  max-height: 360px;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 20;
}
.product-overview__info ul li a {
  width: 90px;
  height: 90px;
  border: 1px solid #e0e0e0;
  border-radius: 50%;
  position: relative;
  margin-bottom: 30px;
  transition: all 0.2s ease-in;
}
.product-overview__info ul li a i {
  font-size: 32px;
  color: #008ed6;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.product-overview__info * {
  margin: 0 auto;
}
.product-overview__info h6 {
  font-size: 24px;
  color: #1a1a1a;
  margin-bottom: 20px;
}
.product-overview__info p {
  font-size: 18px;
  color: #999;
}
.product-design {
  padding: 65px 0;
  border-top: 1px solid #ededed;
}
.product-design__devices img {
  margin-left: 190px;
}
.product-design__device .content-name {
  margin-bottom: 45px;
}
.product-design__device .content-name h2 {
  font-family: 'SansPro-Bold', sans-serif;
  color: #008ed6;
  font-size: 14px;
  text-transform: uppercase;
}
.product-design__device .content-name h1 {
  font-family: 'SansPro-Semibold', sans-serif;
  font-size: 36px;
  color: #1a1a1a;
}
.product-design__device .content-name h1,
.product-design__device .content-name h2 {
  max-height: auto;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-align: left;
  margin: 0 0 20px 0;
}
.product-design__device .content-name .line {
  position: relative;
  width: 42px;
  margin: 0 0 20px 0;
}
.product-design__device .content-name .line:before,
.product-design__device .content-name .line:after {
  content: "";
  display: block;
  width: 20px;
  height: 2px;
  background: #008ed6;
  position: absolute;
  bottom: 0;
}
.product-design__device .content-name .line:before {
  left: 0;
}
.product-design__device .content-name .line:after {
  right: 0;
}
.product-design__device .content-name .line:hover:before,
.product-design__device .content-name .line:hover:after {
  display: block;
}
.product-design__device--text {
  font-family: 'SansPro-regular', sans-serif;
  font-size: 18px;
}
.product-design__device p {
  max-height: 180px;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 10;
  max-width: 500px;
  color: #999;
  margin-bottom: 35px;
}
.product-design__device ul {
  max-height: 200px;
  max-width: 500px;
  overflow: auto;
}
.product-design__device ul::-webkit-scrollbar {
  width: 8px;
}
.product-design__device ul::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px #008ed6;
  border-radius: 8px;
}
.product-design__device ul::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #008ed6;
}
.product-design__device ul a {
  margin-bottom: 15px;
}
.product-design__device ul a:before {
  content: "";
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
.product-design__device ul a * {
  display: inline-block;
  vertical-align: middle;
}
.product-design__device ul a i {
  color: #008ed6;
  margin-right: 10px;
  font-size: 18px;
}
.product-design__device ul a span {
  display: inline-block;
  max-width: 400px;
  color: #1a1a1a;
}
.product-customize {
  padding: 35px 0;
  background: #f2f2f2;
}
.product-customize__customize {
  margin-top: 10%;
}
.product-customize__customize .content-name {
  margin-bottom: 45px;
}
.product-customize__customize .content-name h2 {
  font-family: 'SansPro-Bold', sans-serif;
  color: #008ed6;
  font-size: 14px;
  text-transform: uppercase;
}
.product-customize__customize .content-name h1 {
  font-family: 'SansPro-Semibold', sans-serif;
  font-size: 36px;
  color: #1a1a1a;
}
.product-customize__customize .content-name h1,
.product-customize__customize .content-name h2 {
  max-height: auto;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-align: left;
  margin: 0 0 20px 0;
}
.product-customize__customize .content-name .line {
  position: relative;
  width: 42px;
  margin: 0 0 20px 0;
}
.product-customize__customize .content-name .line:before,
.product-customize__customize .content-name .line:after {
  content: "";
  display: block;
  width: 20px;
  height: 2px;
  background: #008ed6;
  position: absolute;
  bottom: 0;
}
.product-customize__customize .content-name .line:before {
  left: 0;
}
.product-customize__customize .content-name .line:after {
  right: 0;
}
.product-customize__customize .content-name .line:hover:before,
.product-customize__customize .content-name .line:hover:after {
  display: block;
}
.product-customize__customize p {
  font-family: 'SansPro-regular', sans-serif;
  max-height: 180px;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 10;
  font-size: 18px;
  max-width: 500px;
  color: #999;
  margin-bottom: 35px;
}
.product-quality {
  box-sizing: border-box;
  border: 1px solid transparent;
  background: #16151b url("../../img/quality-bg.png") 50% 50% no-repeat;
}
.product-quality .content-name {
  margin: 60px 0 140px;
}
.product-quality .content-name h2 {
  font-family: 'SansPro-Bold', sans-serif;
  color: #008ed6;
  font-size: 14px;
  text-transform: uppercase;
}
.product-quality .content-name h1 {
  font-family: 'SansPro-Semibold', sans-serif;
  font-size: 36px;
  color: white;
}
.product-quality .content-name h1,
.product-quality .content-name h2 {
  max-height: auto;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-align: center;
  margin: 0 auto 20px;
}
.product-quality .content-name .line {
  position: relative;
  width: 42px;
  margin: 0 auto 20px;
}
.product-quality .content-name .line:before,
.product-quality .content-name .line:after {
  content: "";
  display: block;
  width: 20px;
  height: 2px;
  background: #008ed6;
  position: absolute;
  bottom: 0;
}
.product-quality .content-name .line:before {
  left: 0;
}
.product-quality .content-name .line:after {
  right: 0;
}
.product-quality .content-name .line:hover:before,
.product-quality .content-name .line:hover:after {
  display: block;
}
.product-quality__carousel {
  font-size: 0;
  margin-bottom: 120px;
}
.product-quality__carousel li {
  display: inline-block;
  width: 585px;
  box-sizing: border-box;
  font-size: 16px;
  color: white;
}
.product-quality__carousel li p {
  font-family: 'SansPro-It', sans-serif;
  max-height: auto;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-height: 32px;
  font-size: 24px;
  max-width: 560px;
  margin-bottom: 20px;
}
.product-quality__carousel li figure:before {
  content: "";
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
.product-quality__carousel li figure * {
  display: inline-block;
  vertical-align: middle;
}
.product-quality__carousel li figure img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 20px;
}
.product-quality__carousel li figure figcaption span {
  max-width: 450px;
}
.product-quality__carousel li figure figcaption .user-name {
  font-family: 'SansPro-regular', sans-serif;
  display: block;
}
.product-quality__carousel li figure figcaption .company {
  font-family: 'SansPro-Bold', sans-serif;
  text-transform: uppercase;
}
.product-quality__carousel-control {
  display: inline-block;
  margin-left: 50%;
  transform: translateX(-50%);
  font-size: 0;
}
.product-quality__carousel-control:before {
  content: "";
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
.product-quality__carousel-control * {
  display: inline-block;
  vertical-align: middle;
}
.product-quality__carousel-control button {
  display: inline-block;
  width: 8px;
  height: 8px;
  border: 1px solid #4e484a;
  box-sizing: border-box;
  border-radius: 50%;
  background: transparent;
  cursor: pointer;
  margin: 0 10px 55px;
}
.product-quality__carousel-control .active {
  width: 14px;
  height: 14px;
  background: white;
}
.product-advertising {
  background: #15141a;
}
.product-advertising .wrap {
  padding: 65px 0;
}
.product-advertising .wrap:before {
  content: "";
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
.product-advertising .wrap * {
  display: inline-block;
  vertical-align: middle;
}
.product-advertising__text {
  width: 70%;
  color: white;
  font-size: 36px;
}
.product-advertising__text span {
  font-family: 'SansPro-Light', sans-serif;
}
.product-advertising__text strong {
  font-family: 'SansPro-Semibold', sans-serif;
}
.product-advertising__control {
  width: 30%;
}
.product-advertising__control button:first-child {
  margin-right: 15px;
}
.product-plans .content-name {
  padding: 60px 0;
}
.product-plans .content-name h2 {
  font-family: 'SansPro-Bold', sans-serif;
  color: #008ed6;
  font-size: 14px;
  text-transform: uppercase;
}
.product-plans .content-name h1 {
  font-family: 'SansPro-Semibold', sans-serif;
  font-size: 36px;
  color: #1a1a1a;
}
.product-plans .content-name h1,
.product-plans .content-name h2 {
  max-height: auto;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-align: center;
  margin: 0 auto 20px;
}
.product-plans .content-name .line {
  position: relative;
  width: 42px;
  margin: 0 auto 20px;
}
.product-plans .content-name .line:before,
.product-plans .content-name .line:after {
  content: "";
  display: block;
  width: 20px;
  height: 2px;
  background: #008ed6;
  position: absolute;
  bottom: 0;
}
.product-plans .content-name .line:before {
  left: 0;
}
.product-plans .content-name .line:after {
  right: 0;
}
.product-plans .content-name .line:hover:before,
.product-plans .content-name .line:hover:after {
  display: block;
}
.product-plans * {
  box-sizing: border-box;
}
.product-plans__plans-item {
  width: 270px;
  border: 1px solid #e0e0e0;
  position: relative;
  margin-bottom: 60px;
}
.product-plans__plans-item:not(:nth-child(4n)) {
  margin-right: 30px;
}
.product-plans__plans-item:hover .product-plans__plans-item--plan {
  color: #008ed6;
}
.product-plans__plans-item:hover .product-plans__plans-item--price,
.product-plans__plans-item:hover .product-plans__plans-item--description > button {
  background: #008ed6;
  color: white;
}
.product-plans__plans-item:hover .product-plans__plans-item--price .price-wrap:before,
.product-plans__plans-item:hover .product-plans__plans-item--price .price-wrap:after {
  color: white;
}
.product-plans__plans-item--plan {
  font-family: 'SansPro-Bold', sans-serif;
  max-width: 260px;
  height: 70px;
  text-align: center;
  font-size: 24px;
  text-transform: uppercase;
  color: #1a1a1a;
  border-bottom: 1px solid #e0e0e0;
}
.product-plans__plans-item--plan:before {
  content: "";
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
.product-plans__plans-item--plan * {
  display: inline-block;
  vertical-align: middle;
}
.product-plans__plans-item--price {
  height: 150px;
  border-bottom: 1px solid #e0e0e0;
  position: relative;
}
.product-plans__plans-item--price .price-wrap {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.product-plans__plans-item--price .price-wrap:before {
  content: '\e902';
  font-family: 'lucid-font-icon', sans-serif;
  font-size: 25px;
  position: absolute;
  top: 10px;
  left: -20px;
  color: #1a1a1a;
}
.product-plans__plans-item--price .price-wrap:after {
  font-family: 'SansPro-regular', sans-serif;
  content: '/per month';
  min-width: 100px;
  position: absolute;
  left: 50%;
  bottom: -20px;
  transform: translateX(-50%);
  font-size: 18px;
  color: #999;
}
.product-plans__plans-item--price .price-wrap span {
  font-family: 'SansPro-Semibold', sans-serif;
  max-width: 220px;
  font-size: 60px;
  position: relative;
}
.product-plans__plans-item--description {
  padding: 50px 25px 30px;
}
.product-plans__plans-item--description .text-wrap {
  max-height: 110px;
  overflow: auto;
  margin-bottom: 40px;
}
.product-plans__plans-item--description .text-wrap::-webkit-scrollbar {
  width: 8px;
}
.product-plans__plans-item--description .text-wrap::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px #008ed6;
  border-radius: 8px;
}
.product-plans__plans-item--description .text-wrap::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #008ed6;
}
.product-plans__plans-item--description .text-wrap p {
  font-family: 'SansPro-regular', sans-serif;
  min-height: 100px;
  padding-right: 5px;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #999;
}
.product-plans__plans-item--description .text-wrap p a {
  display: inline;
  color: #008ed6;
}
.product-plans__plans-item--description .lucid-button {
  color: #008ed6;
  border: 1px solid #e0e0e0;
  padding: 20px 40px;
  border-radius: 5px;
  margin-left: 50%;
  transform: translateX(-50%);
}
.product-plans__plans-item--description .lucid-button:hover {
  background: #008ed6;
  color: white;
}
.product-contacts {
  background: #ededed;
  position: relative;
}
.product-contacts .content-name {
  padding: 60px 0;
}
.product-contacts .content-name h2 {
  font-family: 'SansPro-Bold', sans-serif;
  color: #008ed6;
  font-size: 14px;
  text-transform: uppercase;
}
.product-contacts .content-name h1 {
  font-family: 'SansPro-Semibold', sans-serif;
  font-size: 36px;
  color: #1a1a1a;
}
.product-contacts .content-name h1,
.product-contacts .content-name h2 {
  max-height: auto;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-align: center;
  margin: 0 auto 20px;
}
.product-contacts .content-name .line {
  position: relative;
  width: 42px;
  margin: 0 auto 20px;
}
.product-contacts .content-name .line:before,
.product-contacts .content-name .line:after {
  content: "";
  display: block;
  width: 20px;
  height: 2px;
  background: #008ed6;
  position: absolute;
  bottom: 0;
}
.product-contacts .content-name .line:before {
  left: 0;
}
.product-contacts .content-name .line:after {
  right: 0;
}
.product-contacts .content-name .line:hover:before,
.product-contacts .content-name .line:hover:after {
  display: block;
}
.product-contacts__info {
  padding-bottom: 370px;
}
.product-contacts__info--item {
  max-height: auto;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 7;
  text-align: center;
  font-size: 18px;
  width: 190px;
  max-width: 190px;
  min-height: 140px;
  margin: 0 100px;
}
.product-contacts__info--item i {
  font-size: 30px;
  color: #008ed6;
}
.product-contacts__info--item span,
.product-contacts__info--item address,
.product-contacts__info--item a {
  font-family: 'SansPro-regular', sans-serif;
  text-align: center;
  color: #999;
  line-height: 26px;
}
.product-contacts__info--item span:first-of-type,
.product-contacts__info--item address:first-of-type,
.product-contacts__info--item a:first-of-type {
  margin-top: 30px;
}
.product-contacts .feedback {
  width: 770px;
  background: #15141a;
  position: absolute;
  bottom: -65px;
  left: 50%;
  transform: translateX(-50%);
}
.product-contacts .feedback form {
  padding: 60px 65px 40px 70px;
}
.product-contacts .feedback form input:not([type='submit']) {
  width: 300px;
  height: 50px;
  display: block;
  margin-bottom: 20px;
}
.product-contacts .feedback form textarea {
  width: 300px;
  height: 190px;
  float: right;
  resize: none;
  padding-top: 20px;
  margin-right: 20px;
}
.product-contacts .feedback form .feedback-style {
  border: 1px solid #444348;
  background: transparent;
  border-radius: 5px;
  box-sizing: border-box;
  padding-left: 20px;
  color: white;
}
.product-contacts .feedback form .feedback-style::placeholder {
  font-family: 'SansPro-Semibold', sans-serif;
  font-size: 14px;
  color: #606062;
  text-transform: uppercase;
}
.product-contacts .feedback form .lucid-button {
  float: right;
  margin-right: 20px;
}
