.OpenSansPro-Semibold {
  font-family: 'SansPro-Semibold', sans-serif;
}
.MyriadPro-Regular {
  font-family: 'MyriadPro-Regular', sans-serif;
}
.main {
  width: 1440px;
  margin: 0 auto;
}
.wrap {
  width: 1170px;
  margin: 0 auto;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.clip {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.left {
  float: left;
}
.right {
  float: right;
}
.section-line {
  border-top: 1px solid #ededed;
}
