<div class="product-overview wrap">
    <header class="content-name">
        <h2>product overview</h2>
        <h1>List of amazing features</h1>
        <div class="line"></div>
    </header>
    <div class="group-info wrap">
        <ul>
            <li>
                <a href="#">
                    <figure class="icon-wrap">
                        <img src="img/icons/monitor.png" alt="icon">
                    </figure>
                </a>
                <h6>Responsive</h6>
                <p>Fusce fermentum placerat magna ac pharetra.
                    Aliquam euismod elit non ipsum lacinia consectetur.</p>
            </li>
            <li>
                <a href="#">
                    <figure class="icon-wrap">
                        <img src="img/icons/settings.png" alt="icon">
                    </figure>
                </a>
                <h6>Customizable</h6>
                <p>Fusce fermentum placerat magna ac pharetra.
                    Aliquam euismod elit non ipsum lacinia consectetur.</p>
            </li>
            <li>
                <a href="#">
                    <figure class="icon-wrap">
                        <img src="img/icons/like.png" alt="icon">
                    </figure>
                </a>
                <h6>Lovely design</h6>
                <p>Fusce fermentum placerat magna ac pharetra.
                    Aliquam euismod elit non ipsum lacinia consectetur.</p>
            </li>
            <li>
                <a href="#">
                    <figure class="icon-wrap">
                        <img src="img/icons/phone.png" alt="icon">
                    </figure>
                </a>
                <h6>Mobile Friendly</h6>
                <p>Fusce fermentum placerat magna ac pharetra.
                    Aliquam euismod elit non ipsum lacinia consectetur.</p>
            </li>
        </ul>
    </div>
</div>
<hr class="section-line">