<div class="product-overview wrap">
    <header class="content-name">
        <h2>product overview</h2>
        <h1>List of amazing features</h1>
        <div class="line"></div>
    </header>
    <div class="product-overview__info wrap">
        <ul>
            <li>
                <a href="#">
                    <i class="icon-monitor"></i>
                </a>
                <h6>Responsive</h6>
                <p>Fusce fermentum placerat magna ac pharetra.
                    Aliquam euismod elit non ipsum lacinia consectetur.</p>
            </li>
            <li>
                <a href="#">
                    <i class="icon-settings"></i>
                </a>
                <h6>Customizable</h6>
                <p>Fusce fermentum placerat magna ac pharetra.
                    Aliquam euismod elit non ipsum lacinia consectetur.</p>
            </li>
            <li>
                <a href="#">
                    <i class="icon-like"></i>
                </a>
                <h6>Lovely design</h6>
                <p>Fusce fermentum placerat magna ac pharetra.
                    Aliquam euismod elit non ipsum lacinia consectetur.</p>
            </li>
            <li>
                <a href="#">
                    <i class="icon-phone"></i>
                </a>
                <h6>Mobile Friendly</h6>
                <p>Fusce fermentum placerat magna ac pharetra.
                    Aliquam euismod elit non ipsum lacinia consectetur.</p>
            </li>
        </ul>
    </div>
</div>
