<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lucid</title>
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/lucid-font-icon.css">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <main class="main">
        @@include('./device/device.html')
        @@include('./overview/overview.html')
        @@include('./design/design.html')
        @@include('./customize/customize.html')
        @@include('./quality/quality.html')
        @@include('./advertising/advertising.html')
        @@include('./plans/plans.html')
        @@include('./contacts/contacts.html')
        @@include('./map/map.html')
        @@include('./footer/footer.html')
    </main>
</body>
</html>