<div class="product-plans">
    <header class="content-name">
        <h2>quality has its price</h2>
        <h1>Pricings & Plans</h1>
        <div class="line"></div>
    </header>
    <ul class="wrap clearfix">
        <li class="product-plans__plans-item left">
            <div class="product-plans__plans-item--plan clip">Free</div>
            <div class="product-plans__plans-item--price">
                <div class="price-wrap">
                    <span class="clip">0</span>
                </div>
            </div>
            <div class="product-plans__plans-item--description">
                <div class="text-wrap">
                    <p>Fusce fermentum placerat magna ac pharetra.
                        Aliquam euismod elit non ipsum <a href="">lacinia</a> consectetur.</p>
                </div>
                <button type="button" class="lucid-button clip">order now</button>
            </div>
        </li>
        <li class="product-plans__plans-item left">
            <div class="product-plans__plans-item--plan clip">Free</div>
            <div class="product-plans__plans-item--price">
                <div class="price-wrap">
                    <span class="clip">0</span>
                </div>
            </div>
            <div class="product-plans__plans-item--description">
                <div class="text-wrap">
                    <p>Fusce fermentum placerat magna ac pharetra.
                        Aliquam euismod elit non ipsum <a href="">lacinia</a> consectetur.</p>
                </div>
                <button type="button" class="lucid-button clip">order now</button>
            </div>
        </li>
        <li class="product-plans__plans-item left">
            <div class="product-plans__plans-item--plan clip">Free</div>
            <div class="product-plans__plans-item--price">
                <div class="price-wrap">
                    <span class="clip">0</span>
                </div>
            </div>
            <div class="product-plans__plans-item--description">
                <div class="text-wrap">
                    <p>Fusce fermentum placerat magna ac pharetra.
                        Aliquam euismod elit non ipsum <a href="">lacinia</a> consectetur.</p>
                </div>
                <button type="button" class="lucid-button clip">order now</button>
            </div>
        </li>
        <li class="product-plans__plans-item left">
            <div class="product-plans__plans-item--plan clip">Free</div>
            <div class="product-plans__plans-item--price">
                <div class="price-wrap">
                    <span class="clip">0</span>
                </div>
            </div>
            <div class="product-plans__plans-item--description">
                <div class="text-wrap">
                    <p>Fusce fermentum placerat magna ac pharetra.
                        Aliquam euismod elit non ipsum <a href="">lacinia</a> consectetur.</p>
                </div>
                <button type="button" class="lucid-button clip">order now</button>
            </div>
        </li>
    </ul>
</div>