<div class="contacts">
    <div class="wrap">
        <header class="content-name">
            <h2>quality has its price</h2>
            <h1>Pricings & Plans</h1>
            <div class="line"></div>
        </header>
        <ul class="contacts__info clearfix">
            <li class="contacts__info--item left">
                <div class="icon-wrapper">
                    <i class="icon-phone"></i>
                </div>
                <a href="tel:+4151245678" class="clip">Phone: (415) 124-5678</a>
                <a href="tel:+4121238290" class="clip">Fax: (412) 123-8290</a>
            </li>
            <li class="contacts__info--item left">
                <i class="icon-location"></i>
                <address>1001 Brickell Bay Dr. Suite 1900  Miami, FL 33131</address>
            </li>
            <li class="contacts__info--item left">
                <i class="icon-phone"></i>
                <a href="mailto:support@yourname.com">support@yourname.com</a>
            </li>
        </ul>
    </div>
    <div class="contacts__feedback">
        <form action="#" method="GET">
            <fieldset class="clearfix">
                <textarea name="message"
                          class="feedback-style"
                          placeholder="message *"
                          required></textarea>
                <input type="text"
                       class="feedback-style"
                       name="name"
                       placeholder="name *"
                       required>
                <input type="password"
                       class="feedback-style"
                       placeholder="email *"
                       required>
                <input type="text"
                       class="feedback-style"
                       placeholder="subject *"
                       required>
                <input type="submit" class="lucid-button" value="Send Message">
            </fieldset>
        </form>
    </div>
</div>