<div class="product-design clearfix">
    <div class="product-design__devices left">
        <figure>
            <img src="img/devices.png" alt="devices">
        </figure>
    </div>
    <div class="product-design__device right">
        <header class="content-name">
            <h2>dip into the details</h2>
            <h1>Beautiful on every device</h1>
            <div class="line"></div>
        </header>
        <p>Duis sed odio sit amet nibh vulputate cursus a sit amet mauris.
            Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor
            a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit.</p>
        <ul>
            <li>
                <a href="#">
                    <div class="icon-item">
                        <img src="img/icons/cup.png" alt="cup">
                    </div>
                    <span class="clip">Awesome design</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="icon-item">
                        <img src="img/icons/mouse.png" alt="mouse">
                    </div>
                    <span class="clip">Fully responsive</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="icon-item">
                        <img src="img/icons/energy.png" alt="energy">
                    </div>
                    <span class="clip">Retina ready</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="icon-item">
                        <img src="img/icons/speedometer.png" alt="speedometer">
                    </div>
                    <span class="clip">Tons of features and easy to use</span>
                </a>
            </li>
        </ul>
    </div>
</div>